
 
body
{
background-color:yellow;
color:black;
}

p{font-family:Times New Roman;
  font-size:20px;
  color:green;}
 
 h2{font-family:Times New Roman;
 font-size:20px;
 color:blue;}
 
 p,h3{
	 font-family:arial;
	 text-align:center;
 }
 
  
*{
	 font-family:times new roman;
	 font-ize:5px;
	 color:red;
 }
 
 #para1{
	 text-align:right;
	 color:blue;
 }
 
 .center{
	 text-align:center;
	 color:violet;
 }