<!doctype>
<html>
<head>
<style>
div{
background-color:green;
padding:15px;
border:15px solid red;
margin:30px;
width:350px;
}
</style>
</head>
<body>
<p>This article is about the Marvel Comics supervillain. For people with the given name or surname, see Thanos  For the dinosaur, see Thanos simonattoi</p>
<div>thanos vs avengers</div>
<p>endgame</p>
</body>
</html>